
<style>
  h1 {
    font-size: 30px;
    color: blue;
  }

  p {
    font-size: 20px;
    color: green;
  }
  i {
    color: red;
  }

  sup {
    color: purple;
  }
  sub {
    color: orange;
  }
  quote {
    color: brown;
  }
</style>